.game-pane {
    -fx-padding: 20px;
    -fx-background-image: url("../images/Scenes/templeBackground.png");
}
#timer-label {
    -fx-font-family: "Consolas";
    -fx-font-size: 20px;
    -fx-text-fill: gold;
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
